
<section id="availability" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-push-2 col-lg-8 text-center">
                <h2 class="section-heading">Availability</h2>
                <i class="asterisk-information">2 night minimum stay</i>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-push-4 col-md-4 text-center">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</section>
