
<section id="availability" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-push-2 col-lg-8 text-center">
                <h2 class="section-heading">Availability</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-push-4 col-md-4 text-center">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</section>
