 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    <!-- Full Calendar -->
    <script src="{{ "/js/fullcalendar-2.2.6/lib/moment.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/fullcalendar-2.2.6/fullcalendar.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/fullcalendar-2.2.6/gcal.js" | prepend: site.baseurl }}"></script>

   <!-- Image Gallery -->
   <script src="{{ "/js/photoswipe-4.0.5/photoswipe.min.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/js/photoswipe-4.0.5/photoswipe-ui-default.min.js" | prepend: site.baseurl }}"></script>


 <script>

 $(document).ready(function() {

    $('#calendar').fullCalendar({
       height: 'auto',
       eventColor: '#FF00FF',

       googleCalendarApiKey: 'AIzaSyCsSDp4yxElBcn8R82hGDZgYTaUaClRN3Q',
       events: '4h2ssb063dk05v9sh6b1halo00@group.calendar.google.com',

       eventAfterRender: function(event) {
          var $calendar = $('#calendar .fc-view-container');
          var mCurrent = event.start;

          while(mCurrent.isBefore(event.end)) {
             $calendar.find('[data-date=' + mCurrent.format('YYYY-MM-DD') + ']').addClass('fc-booked');
             mCurrent.add(1, 'days')
          }
       }

    });


     var pswpElement = document.querySelectorAll('.pswp')[0];
     var options = { index: 0, bgOpacity: .9 };

     var gallery = {
         "the-villa": [],
         "around": [],
         "things-to-do": []
     };




        {% for image in site.data.gallery-the-villa %}
            gallery["the-villa"].push({ src: 'img/photo_gallery/the_villa/{{image.src}}', w: {{image.w}}, h: {{image.h}}});
        {% endfor %}



     $('a.photoswipe-link').on('click', function() {

         var galleryId = $(this).attr('data-gallery-id');

         // Initializes and opens PhotoSwipe
         new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, gallery[galleryId], options).init();
     });









 });

</script>
