<section id="photogallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Photo Gallery</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-sm-12 portfolio-item">
                <a class="portfolio-link photoswipe-link" data-gallery-id="the-villa">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/photo_gallery/the_villa/index.JPG" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>The Villa</h4>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link photoswipe-link" data-gallery-id="around">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/photo_gallery/around/index.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Around</h4>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link photoswipe-link" data-gallery-id="things-to-do">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/photo_gallery/things_to_do/index.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Things To Do</h4>
                </div>
            </div>



        </div>
    </div>
</section>