<section id="thevilla">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Villa</h2>
                <h3 class="section-subheading text-muted">
                    Villa Varsovia is a modern interpretation of a traditional open-air Spanish villa with a very private interior
                    courtyard that includes a 16'x32' pool and rancho.
                    Polish owners, Margaret and Andrew Wieladek, who permanently reside in Canada, built the villa in 2012.
                    Standing alone on a breezy hill, this vacation rental is a secluded oasis surrounded by lush jungle.
                    Banana and mango trees grow in the garden; playful monkeys are regular visitors;
                    curious iguanas live on the grounds; and scarlet macaws fly above in pairs, squawking like an old married couple.
                    The villa is on the central Pacific coast and within walking distance of the endless beach of Esterillos.
                    Off the beaten path, it is located between the bustling town of Jaco and world famous Manuel Antonio National Park.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-offset-3 col-md-2 col-sm-4">
                <span class="villa-feature">
                    <i class="glyph-icon flaticon-users25"></i>
                </span>
                <h4 class="service-heading">6 Guests</h4>
            </div>
            <div class="col-md-2 col-sm-4">
                <span class="villa-feature">
                    <i class="glyph-icon flaticon-bed33"></i>
                </span>
                <h4 class="service-heading">
                    3 Bedrooms
                    <span style="display: block; font-size: .5em; color: #2c3e50;">1 King Bed + 2 Double beds</span>
                </h4>
            </div>
            <div class="col-md-2 col-sm-4">
                <span class="villa-feature">
                    <i class="glyph-icon flaticon-shower5"></i>
                </span>
                <h4 class="service-heading">3 Baths</h4>
            </div>
        </div>

        <!-- Amenities -->

        <div class="row amenities">
            <div class="col-md-offset-3 col-md-6">
                <h5>Amenities</h5>
            </div>
        </div>

        <div class="row amenities">
            <div class="col-md-offset-3 col-md-3 col-sm-6">
                <ul>
                    <li><i class="glyph-icon flaticon-cutlery23"></i>Fully Equipped Kitchen</li>
                    <li><i class="glyph-icon flaticon-internet5"></i>Internet <i style="font-size: .8em;">(via USB stick)</i></li>
                    <li><i class="glyph-icon flaticon-laundry7"></i>Laundry</li>
                    <li><i class="glyph-icon flaticon-barbecue3"></i>Coal Barbecue</li>
                    <li><i class="glyph-icon flaticon-minisplit"></i>Air Conditioning <i class="amenities-long-asterisk" style="font-size: .8em; white-space: nowrap;">(master bedroom only)</i></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 amenities-list-2">
                <ul>
                    <li><i class="glyph-icon flaticon-silhouette66"></i>Swimming Pool</li>
                    <li><i class="glyph-icon flaticon-towel4"></i>Towels & Linens</li>
                    <li><i class="glyph-icon flaticon-ecological11"></i>Fans throughout</li>
                    <li><i class="glyph-icon flaticon-parking19"></i>Parking</li>

                </ul>
            </div>
        </div>

        <!-- Prices -->
        <div class="row amenities">
            <div class="col-md-offset-3 col-md-6">
                <h5>Price (USD)</h5>
            </div>
        </div>

        <div class="row price">
            <div class="col-md-offset-3 col-md-2 col-sm-4">
                <div class="price-column">
                    <span class="title">Night</span>
                    <span>$120</span>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="price-column price-column-middle">
                    <span class="title">Week</span>
                    <span>$750</span>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="price-column">
                    <span class="title">Month</span>
                    <span>$2,500</span>
                </div>
            </div>

        </div>
        <div class="row amenities">
            <i style="display: block;" class="asterisk-information text-center">+ $30 per booking (cleaning fee)</i>
            <i style="display: block;" class="asterisk-information text-center">+ $200 refundable security deposit</i>
        </div>

        <!-- Location -->

        <div class="row amenities">

            <div class="col-lg-12 text-center">
                <h4 class="text-center">Location</h4>
                <h3 class="section-subheading text-muted text-center">
                    An easy drive of approximately 90 minutes from San Jose airport, Villa Varsovia is located off a scenic stretch of highway 34 (Costanera Sur) in the community of Villas Xihu in Esterillos Oeste on the Pacific Coast.  Quepos and Manuel Antonio National Park are about an hour drive southeast on the highway.  Going northwest, Playa Hermosa can be reached in 10 minutes and Jaco in 20.
                </h3>
            </div>

            <div id="googleMaps" class="col-md-push-2 col-md-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2014096.4457483573!2d-84.67467393216917!3d9.614019964114583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa1bdb68a940ebd%3A0xf2e81a73f67ab565!2sVillas+Xihu%2C+Esterillos+Oeste%2C+Costa+Rica!5e0!3m2!1sfr!2sfr!4v1422131274094" width="100%" height="450" frameborder="0" style="border:0"></iframe>
            </div>
        </div>


    </div>

</section>