<section id="thingstodo" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Things To Do</h2>
                <h3 class="section-subheading text-muted">A charming beachside fishing village on the central Pacific coast, Esterillos Oeste is an ideal destination for travelers wanting to experience the pura vida for which Ticos are known.  Endless, no crowds, incredible sunsets, and some of the top surf in Costa Rica best describe the volcanic beach of Esterillos.  Swaying palms and almond trees line the edge and the water is warm.  At low tide, the size of the beach increases dramatically, creating clear natural pools and sand waiting to be explored.  The neighbourhood has a small grocery and liquor store, as well as a few restaurants and bars.  Besides surfing and swimming, activities such as fishing, a variety of eco-tours, zip lining in the forest canopy, horseback riding, and more can be easily arranged.  </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/puravida.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Living the Pura Vida</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    "Pura Vida" in English means "Pure Life".  Although it has a simple English translation, the meaning is much more profound to the people of Costa Rica.  Pronounced POO-rah VEE-dah, the expression is used in many forms, from a greeting to a synonym for "excellent".  In Esterillos, you'll easily sink into the easygoing rhythms of the pura vida.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/surfing.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Surfing</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Esterillos Oeste has a long-standing surf culture.  The Pacific's perfect waves, year-round warm water, and blue skies make it a world-class surfing destination.  The swells are reliable and sizeable all year, but April to December is considered to be the best time to ride</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/fishing.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Fishing</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Described as the fishing capital of Costa Rica, there are more trophy fish caught out of this region year round than any other part of the country.  Marlin, sailfish, tuna, mahi-mahi, wahoo, red snapper, roosterfish, and more are popular.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/wildlife.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Wildlife-Watching</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Simply put, Costa Rica is one of the best wildlife-watching destinations in the world. Esterillos’ biodiversity harbors some rare and endangered species, from lazy sloths and crocs, to a magnificent spectrum of tropical birds like toucans. You hardy have to make an effort as monkeys, iguanas, humming birds, and scarlet macaws visit the villa regularly.   </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/nightlife.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Nightlife</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In addition to a few well-known bars and restaurants in Esterillos and nearby area, going northwest, Playa Hermosa can be reached in 10 minutes and Jaco in 20.  Both are filled with shops, restaurants, bars, clubs, and even casinos.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/manuel-antonio.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Manuel Antonio</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">One of Central America's top destinations, Manuel Antonio National Park is where jungle meets beach.  This stunning and family friendly park has white sand beaches, accessible rainforest trails, and lots of wildlife.  From the villa, Manuel Antonio is about an hour drive southeast on the highway.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/arenal.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Volcan Arenal</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Arenal Volcano National Park offers several beautiful trails to explore.  After a day of excellent hiking, when there is a chill in the air, relax in one of the area’s many natural hot springs. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/monteverde.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Monteverde Cloud Forest</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Mysterious, dripping with mist, dangling with mossy Tarzan vines, and blooming with life are some of the ways Monteverde Could Forest is described.  The 105 sq km park is one of Costa Rica’s premier destinations and a place where organic farming and alternative energy sources are the norm.  </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>